<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->
<div id="container">
  <!-- <app-get-comp></app-get-comp> -->

<div id="content">
<!-- <router-outlet></router-outlet> -->
<div style="width:200px">
  <ul>
    <li>
        <a style="text-decoration: underline;text-decoration-color: rgb(18, 144, 228)" (click)="createService()">Create Service
        </a>
      </li>
  <li>
    <a  style="text-decoration: underline;text-decoration-color: rgb(26, 140, 216)" (click)="getService()">Get Service
    </a>
  </li>
  </ul>
</div>
<div style="width: 600px">

  <div *ngIf="getServiceEnable">
    <div>
        <ul>
            <li *ngFor="let d of data1$">

                <br />
               Evc Id :&nbsp;<b><I>{{d['evc-id']}}</I></b>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="deleteEvc(d['evc-id'])">delete</button>
                <br />
                Service Type : {{d['svc-type'] | uppercase}}
                <br />
                End Points :
                <ol type="1">
                <div *ngFor="let end of d['end-points']['end-point']">
                    <li>
                    {{end["uni-id"]}}
                    </li>
                </div>
            </ol>
                Vlan Id :<span *ngIf="d['svc-type'] === 'evpl' || d['svc-type']==='evplan'">{{d["end-points"]["end-point"][0]["ce-vlans"]["ce-vlan"]}}</span>
                <br/>
                <br/>
            </li>

        </ul>
    </div>
</div>
<div style="width: 1000px">
      <div *ngIf="createServiceEnable">
     <div>
        <div class="container">
        <br />
            <form  (ngSubmit)='internalcreateEvcService()' [formGroup]='createEvcForm' novalidate class="form">
             <table>
        <tr>
          <td>
          <label>Service Name </label>
            </td>
          <td>
              <input formControlName='evcId' type="text" class="form-control" placeholder="Enter Service Name" init=''/>
          </td>
        </tr><br>
        <tr>
            <td>
            <label>Service Type </label>
              </td>
            <td>
                <input type="radio" class="form-control" [(ngModel)]="serviceType"  name="serviceType"  formControlName='serviceType' value="EPL">EPL &nbsp;&nbsp;
                <input type="radio" class="form-control" [(ngModel)]="serviceType"  name="serviceType" formControlName='serviceType' value="EVPL">EVPL &nbsp;&nbsp;
                <input type="radio" class="form-control" [(ngModel)]="serviceType"  name="serviceType" formControlName='serviceType' value="EPLAN">EP-LAN &nbsp;&nbsp;
                <input type="radio" class="form-control" [(ngModel)]="serviceType" name="serviceType" formControlName='serviceType' value="EVPLAN">EVP-LAN &nbsp;&nbsp;  
            </td>
          </tr><br>
            <tr *ngIf="serviceType === 'EVPL' || serviceType === 'EVPLAN'">
                <td>
                <label>VLAN ID</label>
                  </td>
                <td>
                <input formControlName='vlanId' type="text" class="form-control" placeholder="Enter VLAN ID"/> 
                </td>
              </tr><br>
            <tr>
      <td><label>End Point 1</label></td>
      <td><input formControlName='node1'
        type="text"
        class="form-control"
        placeholder="Enter Node 1"/></td>
        </tr><br>
        <tr>
            <td>
      <label>End Point 2</label>
              </td>
      <td>
          <input formControlName='node2'
        type="text"
        class="form-control"
        placeholder="Enter Node 2" />
      </td>
        </tr><br>
        
        <tr>
            <div class="wrapper" sytle="margin-left:30%">
              <br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             
                <button sytle=" margin-left:30%;position: absolute;"class="button">Create Service</button>
            </div>
        </tr>
        </table>
      </form>
      </div>
</div>
</div>
</div>

<div  *ngIf="getSuccessEnable" >
    <div class="container" style="align-content:center;height: 350px;width: 350px" >
        <div class="row text-center">
              <div class="col-sm-6 col-sm-offset-3">
              <br><br> <h2 style="color:#0fad00;text-align:center"> Success</h2>
           <p style="font-size:20px;color:#5C5C5C; text-align:center">Service Created Sucessfully </p><br>
          <br><br>
        </div>
              
        </div>
      </div>
    </div>
</div>

