<div class="container">
  <br />
<form  (ngSubmit)='internalcreateEvcService()' [formGroup]='createEvcForm' novalidate class="form">
  <table>
  <tr>
<td><label>Node 1</label></td>
<td><input formControlName='node1'
  type="text"
  class="form-control"
  placeholder="Enter Node 1" /></td>
  </tr>
  <tr>
      <td>
<label>Node 2</label>
        </td>
<td>
    <input formControlName='node2'
  type="text"
  class="form-control"
  placeholder="Enter Node 2" />
</td>
  </tr>
  <tr>
      <td>
<label>Evc Id</label>
        </td>
<td>
    <input formControlName='evcId'
  type="text"
  class="form-control"
  placeholder="Enter Evc Id" />
</td>
  </tr>
  <tr>
      <div class="wrapper">
          <button class="button">Create Service</button>
      </div>
  </tr>
  </table>
</form>
</div>
